
.parallaxParent {
	/* controls height of parallax bg between sections */
	height: 80vh;
	overflow: hidden;
}

.parallaxParent2 {
	/* controls height of parallax bg between sections */
	height: 80vh;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}

.parallaxParent2 > * {
	height: 200%;
	position: relative;
	top: -100%;
	
}

body, html {
	height: 100%;
	margin: 0;
  }

.bg {
	/* The image used */
	background-image: url("../img/unsplash.png");
  
	/* Full height */
	height: 100%; 
  
	/* Center and scale the image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* Blur image */
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  	filter: blur(5px);

  }

  @media only screen and (max-width: 600px) {
	.bg {
	  height: 100vh;
	  background-position: center;
	  background-repeat: no-repeat;

	/* Blur image */
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  	filter: blur(5px);
	}
  }  

.caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
	font-family: 'Dosis', sans-serif;
	font-size: 4vw;

}

.caption .centeredTxt {

	letter-spacing: 10px;

}

/* Homepage button */
.bottomText {
	position:absolute;
	top: 240%;
	left: 41%;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5vw;
    background-color: Transparent;
	border: 2px solid #fff;
	cursor: pointer;
	transition: all 0.5s;
	padding: 10px;
	
  }

  .bottomText span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color: #000;
  }

  .bottomText span:hover {
	color: white;
  }

  .bottomText span:after {
	content: '\2193';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .bottomText:hover span {
	padding-right: 25px;
  }
  
  .bottomText:hover span:after {
	opacity: 1;
	right: 0;
  }
/* !Homepage button */



.container {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.section.skills {

	margin-top: -1em;
}

.section.databasediagrams.has-text-centered, .section.apiunittests.has-text-centered.has-text-centered {

	margin-top: -1em;
}

/*Navbar styling */
#navbar {
	overflow: hidden;
	background-color: #333;
	z-index: 9;
	text-align:center;
  }
  
  #navbar a {
	/*float: left;*/
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  #navbar a:hover {
	background-color: #ddd;
	color: black;
	transition: 0.8s;
  }
  
  /* Active nav link styling */

  #navbar a.active {
	background-color: #f2f2f2;
	color: #000000;
	transition: 0.8s;

  }

  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }


  /** Footer styling, links */

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 2rem;
	/*word-spacing: 1rem;*/
}

.me {
	max-width: 250px;
	margin: 20px;
	-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	clip-path: polygon(50% 0, 80% 50%, 50% 100%, 25% 50%);
	transition: 1s;
}

.me:hover {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/**
#myModal {
	width: 840px;
}*/

.shadow {
   filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.1));
   padding-left: 15%;
}

.shape {
  position: relative;
  background: url("https://i.ibb.co/tsmVty1/1.png") 50% 50%;
  width: 200px;
  height: 200px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
}

.shape > .inner-shape {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 15px);
  background: url("https://i.ibb.co/tsmVty1/1.png") 50% 50%; 
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.shape:hover > .inner-shape {
  width: 0;
  height: 0;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.shape > .hover-shape {
  position: absolute;
  background: rgba(0, 0, 0, .8);
  width: 0;
  height: 0;
  display: flex; /* remove if necessary */
  align-items: center; /* remove if necessary */
  justify-content: center; /* remove if necessary */
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.shape:hover > .hover-shape {
  width: calc(100% - 20px);
  height: calc(100% - 15px);
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.shape > .hover-shape > .text {
  display: inline-block;
  color: #fff;
  font-family: sans-serif;
  height: 0;
  overflow: hidden;
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.shape:hover > .hover-shape > .text {
  height: 20px; /* Should be little larger than font-size */
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms;
}

img.diagram {

 height: 200px;
 width: 590px;
}